<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bienvenidos</title>
</head>
<body>
<div class="container">
    <h3>Bienvenidos a consulta Alumnos</h3>
    <div class="row">
        <div class="card">
            <div class="card-body">

                <h5 class="card-title">
                    Alumnos
                </h5>

                <p class="card-text">
                    CRUD ALUMNO
                </p>

                <a th:href="@{/alumno}" class="btn btn-primary">
                    Alumno
                </a>

            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h3 class="cartd-title">
                    Cursos
                </h3>
                <p class="card-text">
                    CRUD CURSOS
                </p>
                <a th:href="@{/curso}" class="btn btn-primary">
                    Cursos
                </a>
            </div>

        </div>
        <div class="card">
            <div class="card-body">
                <h3 class="cartd-title">
                    Notas
                </h3>
                <p class="card-text">
                    CRUD NOTAS
                </p>
                <a th:href="@{/nota}" class="btn btn-primary">
                    Notas
                </a>
            </div>

        </div>
        <!--<div class="card">
            <div class="card-body">

                <h5 class="card-title">
                    Habitaciones
                </h5>

                <p class="card-text">
                    Desde aqui podremos realizar el mantenimiento de Habitaciones
                </p>

                <a th:href="@{/habitacion}" class="btn btn-primary">
                    Habitaciones
                </a>

            </div>
        </div>
        <div class="card">
            <div class="card-body">

                <h5 class="card-title">
                    Pagos
                </h5>

                <p class="card-text">
                    Desde aqui podremos realizar el mantenimiento de Pagos
                </p>

                <a th:href="@{/pago}" class="btn btn-primary">
                    Pagos
                </a>

            </div>
        </div>
        <div class="card">
            <div class="card-body">

                <h5 class="card-title">
                    Usuarios
                </h5>

                <p class="card-text">
                    Desde aqui podremos realizar el mantenimiento de Usuarios
                </p>

                <a th:href="@{/usuario}" class="btn btn-primary">
                    Usuarios
                </a>

            </div>
        </div>
        <div class="card">
            <div class="card-body">

                <h5 class="card-title">
                    Reservas
                </h5>

                <p class="card-text">
                    Desde aqui podremos realizar el mantenimiento de Reservas
                </p>

                <a th:href="@{/reserva}" class="btn btn-primary">
                    Reservas
                </a>

            </div>
        </div>-->
    </div>
</div>
</body>
</html>